*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(23, 26, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1{
    font-size: 30px;
    font-weight: 600;
    height: 50%;
    width: 50%;
}

.waitasec {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    animation-name: show-text;
    animation-duration: 250ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-left: 1%;
    margin-top: 1%;
  }

  @keyframes show-text {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .style {
    margin-left: 2%;
  }